# Entornos virtuales
.venv/
env/
venv/

# Datos locales
dataset.csv
*.csv

# Python
__pycache__/
*.pyc
.pytest_cache/

# Modelos y bases locales
models/*.keras
models/*.h5
models/*.pkl
mlflow.db
mlruns/
mlartifacts/
mlflow_data/
n8n_data/
app_data/

# Credenciales y editores
.env
.vscode/
.idea/
